






















<div class="container mt-5">
    <div class ="row">

        <div class="col-12"></div>
<form>
    <div class="form-group row">
      <label for="nama" class="col-sm-2 col-form-label">Nama</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" id="nama" name="nama" value="">
      </div>
    </div>

    <div class="form-group row">
        <label for="description" class="col-sm-2 col-form-label">description</label>
        <div class="col-sm-10">
            <textarea class="form-control" id="description" name="description" rows="3"></textarea>
        
        </div>
      </div>

  </form>

  </div>
  </div>
</div>